.heart-list {
  list-style-type: "♥ ";
  color: #ba2121
}

.Words-for-Tea{
  background-color: pink;
}

.list-1{
  background-color: palevioletred;
}

.heart-list-2{
  background-color: skyblue;
}

.thing-1{
  background-color: cyan;
}