* {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 249, 249);
}

header {
    background-color: rgb(90, 90, 90);
    color: white;
    font-weight: bolder;
    align-items: center;
}
footer{
    background-color: rgb(90, 90, 90);
    color: white;
    font-weight: bolder;
    font-size: small;
    align-items: center;
}
nav {   
    background-color: rgb(179, 178, 178);
    
    
    
}
section {
    flex-direction: row;
   
}
ul{
    padding: 0 80px 0 10px;
}
article {
    padding-left: 10px;
}


