article {
  height: 100px;
  width: 400px;
  border: 1px solid black;
  margin-bottom: 16px;
}

.box1 {
  background: rgb(128, 62, 0);
  border: 10px solid black;
}

.box2 {
  background: red;
  border: 10px solid black;
}

.box3 {
  background: green;
  border: 10px solid black;
}