.heart-list {
  list-style-type: "♥ ";
  color: #ba2121
}

.ordered-list {
  background: pink;
  padding: 20px;
}

.unordered-list {
  background: dodgerblue;
  padding: 20px;
}

.ordered-list li {
  backdrop-filter: brightness(3) saturate(0.3);
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}

.unordered-list li {
  backdrop-filter: brightness(3) saturate(0.3);
  color: darkblue;
  margin: 5px;
}
