article {

}
.box {

    background: blue;
    border-top: 10px;
    border-right: 10px;
    border-bottom: 75px;
    border-left: 100px;
    border-right-style: dashed;
    border-right-color: orange;
}

.box {
    width: 500px;
    height: 400px;
    text-align: center;
    color: white;
  }