.box {
  width: 400px;
  margin-bottom: 10px;
  border: 2px solid green;
  padding: 8px;
}

.author {
  font-style: italic;
  color: black;
}

.box-1 {
  color: red
}

.box-2 {
  font-size: x-large;
  text-align: right;
}

.box-3 {
  text-align: center;
  font-size: xx-large;
  font-family: Apple Chancery, cursive;
  color: green;
}
